<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style link="stylesheets">
        #prediction_text
        {
            text-align: center;
            font-size: large;
            font-weight: bolder;
            color: black;
        }

    </style>
    <title>Document</title>
</head>
<body>
    <h1>Titanic Model Prediction</h1>
    <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="pclass" placeholder="pclass" required="required"/> <br>
        <input type="text" name="sex" required="required" placeholder="sex" /> <br>
        <input type="text" name="age" required="required" placeholder="age" /> <br>
        <input type="text" name="sibsp" required="required" placeholder="sibsp" /> <br>
        <input type="text" name="parch" required="required" placeholder="parch" /> <br>
        <input type="text" name="fare" required="required" placeholder="fare" /> <br>
        <input type="text" name="adult_male" required="required" placeholder="adult_male" /> <br>
        <input type="text" name="alone" required="required" placeholder="alone" /> <br>
        <input type="text" name="embarked_C" required="required" placeholder="embarked_C" /> <br>
        <input type="text" name="embarked_Q" required="required" placeholder="embarked_Q" /> <br>
        <input type="text" name="who_man" required="required" placeholder="who_man" /> <br>
        <input type="text" name="who_woman" required="required" placeholder="who_woman" /> <br> 
        <button type="submit">Predict</button>

</form>
<br>
<br>

<div id="prediction_text">{{prediction_text}}</div>



</body>
</html> 

